@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Form";
}

@model Mission6.Models.TaskResponse


<h1>Add a New Task</h1>

<form method="post" class="form-group">
    <label asp-for="TaskName">Name of Task: </label>
    <input asp-for="TaskName" class="form-control" />
    <br />
    <label asp-for="DueDate">Due Date(mm/dd/yyyy): </label>
    <input asp-for="DueDate" class="form-control" />
    <br />
    <label asp-for="Quadrant">Quadrant Number: </label>
    <input type="number" asp-for="Quadrant" class="form-control" />
    <br />
    <select asp-for="Categoryid" class="form-control">
        <option value="">Select a category</option>
        @foreach (Category m in ViewBag.Categories)
        {
            <option value="@m.CategoryId">@m.CategoryName</option>
        }
    </select>
    <br />
    <label asp-for="Completed">Completed: </label>
    <select asp-for="Completed" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
    <div asp-validation-summary="All;"></div>
    @if (ViewBag.New == false)
    {
        <input type="hidden" asp-for="TaskId" />
    }
</form>