@{
    ViewData["Title"] = "Home Page";
}

<h1>This is Homepage</h1>

<img src="~/img/Layton.jpeg" height="400" />

<p>Tour Guests</p>
<h2>Layton Utah Temple Tours</h2>

<p>We will not be doing tours in November, December, January, or February.</p>

<h3>General Tour Instructions:</h3>

<p>
    Masks are required inside the trailer. If you want to see the video, everyone in your group must wear a mask. We can only take 10 people at a time inside the trailer
    <br />- thank you for your patience and understanding.
    Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
    Dress casual, except on Sunday
</p>

<h3>Special Accommodations (check the appropriate box when signing up for a tour):</h3>

<p>Spanish-speaking tours are available, by request.</p>

<h3>Available Tours:</h3>

<p>
    Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes
    Trailer Tour: <b>On Sunday. Masks are required</b>
</p>

<p>Please call 801-628-4488 or email <a href="mailto:LaytonTempleTours@gmail.com">LaytonTempleTours@gmail.com</a>with questions or special requests.</p>

<p>Location: Layton Temple Visitors Center</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Signup">Signup</a>