/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

form {
    width: 50vw;
}

.container {
    padding: 0 0 0 40px;
    width: 100%;
}

#mySpan {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 20px;
    font-weight: bold;
}

#upSpan {
    font-size: 20px;
    font-weight: bold;
}

.col-2 {
    text-align: center;
}

.row {
    text-align: center;
    width: 100% !important;
    margin: 0;
}

#title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.zero {
    border-bottom: 1px solid black;
}

.matrix {
    border: 2px solid black;
}

.first {
    text-align:center;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.second {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.q {
    border-right: 1px solid black;
}

.upper {
    border-bottom: 1px solid black;
}

.name {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.btnBox {
    display: flex;
    align-items: center;
}